
Platform Test Application/.vs/6 dof tester/v16/.suo
Platform Test Application/.vs/6 dof tester/v16/Server/sqlite3/db.lock
Platform Test Application/.vs/6 dof tester/v16/Server/sqlite3/storage.ide
Platform Test Application/obj/Debug/6 dof tester.csproj.CopyComplete
Platform Test Application/obj/Debug/6 dof tester.csproj.FileListAbsolute.txt
Platform Test Application/obj/Debug/6 dof tester.csproj.GenerateResource.cache
Platform Test Application/obj/Debug/6 dof tester.csprojAssemblyReference.cache
Platform Test Application/obj/Debug/6 dof tester.csprojResolveAssemblyReference.cache
Platform Test Application/obj/Debug/6 dof tester.exe
Platform Test Application/obj/Debug/6 dof tester.pdb
Platform Test Application/obj/Debug/_6_dof_tester.Form1.resources
Platform Test Application/obj/Debug/_6_dof_tester.Properties.Resources.resources
Platform Test Application/obj/Debug/build.force
Platform Test Application/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Platform Test Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Platform Test Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Platform Test Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Platform Test Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Platform Test Application/packages/System.Reactive.4.3.2/.signature.p7s
Platform Test Application/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.dll
Platform Test Application/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.targets
Platform Test Application/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.xml
Platform Test Application/packages/System.Reactive.4.3.2/buildTransitive/netcoreapp3.0/System.Reactive.targets
Platform Test Application/packages/System.Reactive.4.3.2/lib/net46/System.Reactive.dll
Platform Test Application/packages/System.Reactive.4.3.2/lib/net46/System.Reactive.xml
Platform Test Application/packages/System.Reactive.4.3.2/lib/netcoreapp3.0/_._
Platform Test Application/packages/System.Reactive.4.3.2/lib/netstandard2.0/System.Reactive.dll
Platform Test Application/packages/System.Reactive.4.3.2/lib/netstandard2.0/System.Reactive.xml
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.dll
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.pri
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.xml
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.dll
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.pri
Platform Test Application/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.xml
Platform Test Application/packages/System.Reactive.4.3.2/System.Reactive.4.3.2.nupkg
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
Platform Test Application/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/.signature.p7s
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoAndroid10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoTouch10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netcoreapp2.1/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinios10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinmac20/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarintvos10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinwatchos10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/LICENSE.TXT
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoAndroid10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoTouch10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/netcoreapp2.1/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinios10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinmac20/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarintvos10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinwatchos10/_._
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/System.Threading.Tasks.Extensions.4.5.3.nupkg
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/THIRD-PARTY-NOTICES.TXT
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/useSharedDesignerContext.txt
Platform Test Application/packages/System.Threading.Tasks.Extensions.4.5.3/version.txt
Platform Test Application/packages/System.ValueTuple.4.5.0/.signature.p7s
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/LICENSE.TXT
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
Platform Test Application/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
Platform Test Application/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
Platform Test Application/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
Platform Test Application/packages/System.ValueTuple.4.5.0/version.txt
